{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>에어텍스트</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link href="{% static 'page/css/index.css' %}" rel="stylesheet"/>
    <link href='https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155034484-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-155034484-3');
    </script>

</head>
<body>
<section class="main-img">
    <div class="main">
        <header style="margin-bottom:100px;">
            <div class="header-top">
                <img src="{% static 'page/assets/white.svg' %}" alt="에어텍스트로고"/>
                <span class="font-size-16 color-white font-bold inline-block">항공권</span>
                <!--            <img src="assets/settings.svg" alt="필터버튼"-->
                <!--                 style="margin-left:auto;"/>-->
            </div>
            <div class="header-fixed"></div>
        </header>
        <div class="main-title">
            <div class="main-arrow inline-block font-size-zero">
                <div class="solid-line"></div>
                <img src="{% static 'page/assets/airplane-white.svg' %}" alt="비행기"/>
            </div>
            <div class="inline-block">
                <p class="font-size-14 font-bold"><span class="color-white">왕복</span><span
                        style="color:rgba(255,255,255,.54)"> · 1명</span></p>
                <h1 class="font-size-24 color-white">{{ query.airtxt_city }}</h1>
                <h1 class="font-size-24 color-white">{{ query.airtxt_city1 }}</h1>
            </div>
        </div>
    </div>
</section>
<section class="section-route">
    <div class="top-bar">
        <img src="{% static 'page/assets/calendar.svg' %}"
             class="inline-block"/>
        <p class="inline-block font-size-16 color-normal font-bold" style="margin-left:12px; vertical-align: top">
            {{ query.sys_date }} - {{ query.sys_date1 }}</p>
    </div>
    <h6 class="font-size-12 color-semi-bold" style="margin-bottom:16px;">{{ card_count }}개의 결과</h6>
    {% for card in cards %}
        <article class="card">
            <div class="card-top">
                <div class="card-inner" style="margin-bottom:16px;">
                    <img src="{{ card.image_url }}" alt="항공사"
                         class="airplane-img"/>
                    <div class="info">
                        <div class="start-time inline-block">
                            <div class="font-bold font-size-16 color-semi-bold">
                                <span class="font-size-16">{{ card.going_times }}</span>
                            </div>
                            <p class="font-size-12 color-light">{{ card.sources }}</p>
                        </div>
                        <div class="goto-time inline-block">
                            <p class="font-size-12 color-semi-bold">{{ card.duration }}</p>
                            <div style="margin:8px 0 2px 0">
                                <div class="solid-line inline-block position-relative">
                                    {% for stop in card.sources_stops %}
                                        <div class="circle inline-block position-relative"></div>
                                    {% endfor %}
                                    <img src="{% static 'page/assets/airplane.svg' %}" alt="비행기"
                                         class="inline-block"/>
                                </div>
                            </div>
                            {% if card.dests_stops|length %}
                                <p class="font-size-10" style="color:#525c66; line-height: 1.2">
                                    <span style="color:#ff4d88">{{ card.sources_stops|length }}회 경유</span><br/>
                                    {% for stop in card.sources_stops %}
                                        <span>{{ stop }}</span>
                                    {% endfor %}
                                </p>
                            {% else %}
                                <p class="font-size-10" style="color:#00b3b3;">직항</p>
                            {% endif %}
                        </div>
                        <div class="arrive-time inline-block">
                            <div class="font-bold font-size-16 color-semi-bold">
                                <span class="font-size-16">{{ card.arrive_times }}</span>
                                <span style="vertical-align: super; font-size:1px;">{{ card.is_tomorrow }}</span>
                            </div>
                            <p class="font-size-12 color-light">{{ card.dests }}</p>
                        </div>
                    </div>
                </div>
                <div class="card-inner">
                    <img src="{{ card.image_url1 }}" alt="항공사"
                         class="airplane-img"/>
                    <div class="info">
                        <div class="start-time inline-block">
                            <div class="font-bold font-size-12 color-semi-bold">
                                <span class="font-size-16">{{ card.going_times1 }}</span>
                            </div>
                            <p class="font-size-12 color-light">{{ card.dests }}</p>
                        </div>
                        <div class="goto-time inline-block">
                            <p class="font-size-12 color-semi-bold">{{ card.duration1 }}</p>
                            <div style="margin:8px 0 2px 0">
                                <div class="solid-line inline-block position-relative">
                                    {% for stop in card.dests_stops %}
                                        <div class="circle inline-block position-relative"></div>
                                    {% endfor %}
                                    <img src="{% static 'page/assets/airplane.svg' %}" alt="비행기"
                                         class="inline-block"/>
                                </div>
                            </div>
                            {% if card.dests_stops|length > 0 %}
                                <p class="font-size-10" style="color:#525c66; line-height: 1.2">
                                    <span style="color:#ff4d88">{{ card.dests_stops|length }}회 경유</span><br/>
                                    {% for stop in card.dests_stops %}
                                        <span>{{ stop }}</span>
                                    {% endfor %}
                                </p>
                            {% else %}
                                <p class="font-size-10" style="color:#00b3b3;">직항</p>
                            {% endif %}
                        </div>
                        <div class="arrive-time inline-block">
                            <div class="font-bold font-size-16 color-semi-bold">
                                <span class="font-size-16">{{ card.arrive_times1 }}</span>
                                <span style="vertical-align: super; font-size:1px;">{{ card.is_tomorrow1 }}</span>
                            </div>
                            <p class="font-size-12 color-light">{{ card.sources }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-bottom">
                <button onclick="reserve('{{ card.url }}','{{ card.sources }}','{{ card.dests }}','{{ query.airtxt_city }}','{{ query.airtxt_city1 }}','{{ card.costs }}')"
                        class="check-button inline-block font-size-zero">
                    <span class="color-white font-bold font-size-16">₩ {{ card.costs }} 예약하기 &#xE001;</span>
                </button>
            </div>
        </article>
    {% endfor %}
</section>
<section>

</section>
</body>
{% block javascript %}
    <script>
        function reserve(url, source, dest, airtxtCity, airtxtCity1, cost) {
            gtag('event', 'reserve', {
                'event_category': airtxtCity + "-" + airtxtCity1,
                'event_label': JSON.stringify({'source': source, 'dest': dest, 'cost': cost}),
                'event_callback': function () {
                    document.location = url;
                }
            })
        }
    </script>
{% endblock %}
</html>